<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Orçamento Público</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Orçamento Federal</ion-title>
    </ion-toolbar>
  </ion-header>
<!-- TODO: Component -->
  <div id="container">
    <div style="padding-bottom: 10px;">
      <span class="font-weith:bold;"><ion-icon name="information-circle-outline"></ion-icon>Previsão e destinação anuais dos recursos a serem arrecadados.</span>
      <p class="text-justify">
        <label *ngFor="let element of infoASplitted" (click)="infoWord(element.word)" [class.highlight]="element.highlight"  (mouseover)="element.highlight=true" (mouseout)="element.highlight=false">
         {{element.word}}
        </label>
      </p>
    </div>

    <div style="padding-bottom: 10px;">
      <span class="font-weith:bold;"><ion-icon name="information-circle-outline"></ion-icon>Equilíbrio das contas públicas e indica as prioridades do Governo para a sociedade.</span>
      <p class="text-justify">
        <label *ngFor="let element of infoBSplitted" (click)="infoWord(element.word)" [class.highlight]="element.highlight"  (mouseover)="element.highlight=true" (mouseout)="element.highlight=false">
         {{element.word}}
        </label>
      </p>
    </div>

    <div style="padding-bottom: 10px;">
      <span class="font-weith:bold;"><ion-icon name="information-circle-outline"></ion-icon>Elaboração anual do orçamento da união, estados e municípios.</span>
      <p class="text-justify">
        <label *ngFor="let element of infoCSplitted" (click)="infoWord(element.word)" [class.highlight]="element.highlight"  (mouseover)="element.highlight=true" (mouseout)="element.highlight=false">
         {{element.word}}
        </label>
      </p>
    </div>

    <div style="padding-bottom: 10px;">
      <span class="font-weith:bold;"><ion-icon name="information-circle-outline"></ion-icon>Planejamento de gastos para execução das políticas públicas.</span>
      <p class="text-justify">
        <label *ngFor="let element of infoDSplitted" (click)="infoWord(element.word)" [class.highlight]="element.highlight"  (mouseover)="element.highlight=true" (mouseout)="element.highlight=false">
         {{element.word}}
        </label>
      </p>
    </div>
    <label><ion-icon name="flash"></ion-icon>Fonte: <a href="https://www.gov.br/economia/pt-br/assuntos/planejamento-e-orcamento/orcamento">https://www.gov.br/economia/pt-br/assuntos/planejamento-e-orcamento/orcamento</a></label>
  </div>
</ion-content>
