<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Itens P.O {{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <strong class="capitalize">Consulta do plano orçamentário {{folder}}</strong> -->
    <ion-list>
      <ion-item *ngFor="let obj of content; let index = index">
        <ion-label style="cursor: pointer;" [class.odd]="index%2==1" [class.even]="index%2==0" (click)="presentToastWithOptions(obj, index+1)"><h5>{{index+1}}. {{obj.descricao}}</h5></ion-label>
      </ion-item>
    </ion-list>
    
</ion-content>
